.main{
	width: 45vw;
	background-color: white;
	margin: auto;
	position: relative;
	top: 5vh;
}

body.property_body {
	background-color: #FAA4BD;
}

footer {
	margin: 5vw;
	text-align: center;
}

.media-object{
	width: 3.5vw;
	height: 3.5vw;
}
.media{
	padding: 0.5vw;
}
.media-body{
	padding-left: 1vw;
	font-size: 1.2vw;
	position: relative;
	top: 0.5vw;
}
.fa-ellipsis-h{
	position: relative;
	bottom: 2vw;
	font-size: 1.5vw;
	margin-right: 1vw;
}
.panel-body{
	padding: 1vw;
}
.not{
	height: 20vw;
	width: 100%;
}
.iconsec{
	padding-top: 1vw;
	padding-left: 0.5vw;
	font-size: 1.2vw;
}
.caption{
	padding-left: 0.5vw;
	margin-top: 1.5vw;
	color: black;
}

.title_only {
	font-size: 2vw;

}

.link_class {
	color: red;
	text-decoration: none;
}

.link_class:hover {
	color: #2a9d8f;
	text-decoration: none;
}

.read{
	padding-left: 0.5vw;
	cursor: pointer;
	color: grey;
	font-weight: bold;
}
.time{
	font-size: 0.8vw;
}
.fa{
	cursor : pointer
}
#open{
	width: 100%;
	background-color: #d32f2f;
}
#open:hover{
	background-color: white;
	color: #d32f2f;
}


@media only screen and (max-width: 425px){
	.main{
		width: 100vw;
	}
	.media-object{
	    width: 10.5vw;
	    height: 10.5vw;
    }
	.media{
	    padding: 1.5vw;
    }
	.media-body{
	    padding-left: 3vw;
	    font-size: 5.6vw;
	    position: relative;
	    top: 1.5vw;
    }
	.fa-ellipsis-h{
	    position: relative;
	    bottom: 10vw;
	    font-size: 5.5vw;
	    margin-right: 3vw;
    }
	.panel-body{
	    padding: 3vw;
    }
	.not{
	    height: 60vw;
	    width: 100%;
    }
	.iconsec{
	    padding-top: 3vw;
	    padding-left: 1.5vw;
	    font-size: 5.6vw;
    }
	.caption{
	    padding-left: 1.5vw;
    }
	.read{
	    padding-left: 1.5vw;
	
    }
	.time{
	    font-size: 3.5vw;
    }
	.menu{
		height: 9vw;
	}
	.menu a{
	    margin-left: 6vw;
	    margin-right: 6vw;
	    font-size: 6vw;
	    color: #d32f2f;
    }
}
