@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding-top: 60px;
}

#footer {
    background: #087e8b !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/*Home page*/
body {
	background-color: #ffd5c2;
}


.image_bar {
	display: flex;
	justify-content: space-around;
}

#main_nav {
	margin: 3rem;
	display: flex;
	margin-left: auto;

}

img {
	border-radius: 15%;
	margin: 1rem;
	size: 0.5 rem;
}

.options {
	text-decoration: none;
	color: black;
}

.options:hover {
	color: green;
}

.content-section {
	border: 3px black solid;
	border-radius: 3%;
}

.content-section:hover {
	box-shadow: 20px 7px 5px #9d4edd;
}

.text-muted, .observe {
	margin: 1rem;
}

.welcome {
	margin: 3rem;
	box-shadow: 15px 8px 7px #f9c74f;
	background-color: #6d597a;
	border-radius: 10%;
	width: 40vw;
}

.jap_phrase {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}

.start_info {
	background-color: #abc4ff;
	border-radius: 10%;
	width: 20vw;
}

.main_name, .child_names {
	margin: 1rem;
}


