{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" type="text/css" href="{% static 'general/main.css'%}">


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    {% if title %}
        <title>東京の不動産 - {{ title }}</title>
    {% else %}
        <title>東京の不動産</title>
    {% endif %}


	
	{% block extrahead %}


	{% endblock %}


</head>

<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="{% url 'start-page' %}" class="navbar-brand">Home</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a href="{% url 'all_info' %}" class="nav-item active nav-link">All properties</a>

                {% if user.is_superuser or user.is_staff or user.profile.can_add_posts %}
                	<a href="{% url 'show-all-users' %}" class="nav item active nav-link">All non-staff users</a>
                	<a href="{% url 'user-create-post' %}" class="nav item active nav-link">Add property</a>
                	<a href="{% url 'profile' %}" class="nav item active nav-link">Profile page</a>
                {% else %}
                	<a href="{% url 'profile' %}" class="nav item active nav-link">Profile page</a>
                {% endif %}


                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Additional actions</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'price-prediction' %}" class="dropdown-item">Calculate approximate price</a>
                        <a href="{% url 'make_injection' %}" class="dropdown-item">Load data to Properties</a>

                        {% if user.is_authenticated %}
                        	<a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        	<a href="{% url 'login' %}" class="dropdown-item">Login</a>
                        	<a href="{% url 'register-newcomer' %}" class="dropdown-item">Register</a>
                        {% endif %}

                    </div>
                </li>
            </ul>

            <form action="#" method="post" class="form-inline my-2 mylg-0">
                <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Let's search" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">探そう！</button>
            </form>
        </div>
    </nav>

    {% if messages %}
    	{% for msg in messages %}
    	<div class='alert alert-{{msg.tags}}'>
    		{{ msg }}
    	</div>
    	{% endfor %}
    {% endif %}

	{% block content %}

	{% endblock %}

    <section id="footer">
        <div class="container">

            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>リンクス</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="{% url 'start-page' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="{% url 'price-prediction' %}"><i class="fa fa-angle-double-right"></i>Predit price for property</a></li>
                        <li><a href="{% url 'register-newcomer' %}"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="{% url 'all_info' %}"><i class="fa fa-angle-double-right"></i>Look at exisiting properties</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="www.linkedin.com/in/sleeplesschallenger"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/SleeplessChallenger"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="sausernsunny@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>  

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6">© All right Reversed.<a class="text-green ml-2" target="_blank">Daniil Slobodeniuk</a></p>
                </div>
                <hr>
            </div>

        </div>
    </section>

</body>
</html>