{% extends 'general/start_page.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'users/password_reset.css' %}">
{% endblock %}

{% block content %}

<body>
	<img src="https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxhbmltZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60">
	<div class='content-section'>

		<form method='POST'>
			{% csrf_token %}
			<fieldset class='form-group'>
				<legend class='border-bottom mb-4'>
					Reset password
				</legend>
					{{ form|crispy }}
			</fieldset>
			
			<div class='form-group'>
				<button class='btn btn-outline-info' type='submit'>
					Reset now
				</button>
			</div>
		</form>

	</div>

</body>

{% endblock %}